@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: gainsboro;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}
